@import "../../assets/styles/variable.scss";

.Button {
  --border-radius: 0px;
  --background: #{$mainColor};
  --background-hover: #060606;
  --color-hover: white;
  --color: black;

  // line-height: 40px;
  // padding: 0 20px;
  padding: 1.0625rem 2rem;
  background: var(--background);
  color: var(--color);
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  border-radius: var(--border-radius);
  height: calc(1.5rem + 2.125rem + 2px);
  @include transition;

  &:hover {
    background: var(--background-hover);
    color: var(--color-hover);
  }

  & > .fe-arrow-left,
  &:hover > .fe-arrow-right {
    transition: all 0.2s ease-in-out;
    transition-property: transform;
  }

  &.rounded {
    --border-radius: 100px;
  }

  &.primary {
    --background: #{$mainColor};
  }
  &.gray {
    --background: #{$grayColor};
    --border-color: #{$grayColor};
    --color: #{$whiteColor};
  }
  &.white {
    --background: #{$whiteColor};
    --color: #{$blackColor};
    --border: none;
    --background-hover: #{$whiteColor};
    --color-hover: #{$blackColor};
  }
}
